.AppleDouble/

node_modules/*

!node_modules/mocha/
node_modules/mocha/*
!node_modules/mocha/mocha.css
!node_modules/mocha/mocha.js

!node_modules/power-assert/
node_modules/power-assert/*
!node_modules/power-assert/build/
node_modules/power-assert/build/*
!node_modules/power-assert/build/power-assert.js

!node_modules/jquery/
node_modules/jquery/*
!node_modules/jquery/dist/
node_modules/jquery/dist/*
!node_modules/jquery/dist/jquery.min.js
